.searchBox {
  border-radius: 96px;
  background-color: #4e4e4e;
  width: 100%;
  color: gray;
  padding: 3px 20px;
  border: none;
}

.ant-input-affix-wrapper > input.ant-input {
  background-color: #4e4e4e;
  padding-left: 4px;
  color: gray;
}

.ant-input_placeholder {
  color: gray;
}

.header {
  color: white;
  text-align: center;
  padding: 0;
  background-color: black;
}

.scrollbar {
  height: 800px;
  width: 100%;
}

.scroll-content {
  height: 100%;
  width: 100%;
}
